##############################################################
### Archivo de configuración del frontend para el entorno. ###
##############################################################

# URL del dominio de la aplicación.
REACT_APP_DOMAIN_URL=

# Applications > Applications > «NOMBRE APLICACIÓN» > Settings > Basic Information > Domain.
REACT_APP_AUTH0_DOMAIN=

# Applications > Applications > «NOMBRE APLICACIÓN» > Settings > Basic Information > Client ID.
REACT_APP_AUTH0_CLIENT_ID=

# Applications > Applications > SPGDA - Desarrollo (frontend) > Settings > Basic Information > Client Secret.
REACT_APP_AUTH0_CLIENT_SECRET=

# Applications > APIs > «NOMBRE API» > Settings > General Settings > Identifier.
REACT_APP_AUTH0_AUDIENCE=

# Applications > Applications > «NOMBRE APLICACIÓN» > Application URIs > Allowed Callback URLs
# (tiene que ser la misma URL del dominio localhost, si se trabaja en entorno local, o
# tiene que ser la otra, si se trabaja en la nube).
REACT_APP_AUTH0_CALLBACK_URL=

# URL del server del backend.
REACT_APP_API_SERVER_URL=

# Authentication > Database.
REACT_APP_DB_CONNECTION=