# URL del dominio de la aplicación.
REACT_APP_DOMAIN_URL=

# Applications > SPGDA (front) > Settings > Basic Information > Domain.
REACT_APP_AUTH0_DOMAIN=

# Applications > SPGDA (front) > Settings > Basic Information > Client ID.
REACT_APP_AUTH0_CLIENT_ID=

# Applications > SPGDA (front) > Application URIs > Allowed Callback URLs (tiene
# que ser la misma URL del dominio localhost, si se trabaja en entorno local, o
# tiene que ser la otra, si se trabaja en la nube).
REACT_APP_AUTH0_CALLBACK_URL=

# URL del server backend.
REACT_APP_API_SERVER_URL=

# APIs > SPGDA > Settings > General Settings > Identifier.
REACT_APP_AUTH0_AUDIENCE=

# Authentication > Database.
REACT_APP_DB_CONNECTION=

# Applications > Applications > API Explorer Application > Settings > Basic Information > Client ID.
API_EXPLORER_CLIENT_ID=

# Applications > Applications > API Explorer Application > Settings > Basic Information > Client Secret.
API_EXPLORER_CLIENT_SECRET=