apiVersion: v1
kind: Secret
metadata:
  name: tls-secrets
  namespace: default
type: kubernetes.io/tls
data:

  # Para generar los siguientes datos, ejecutar en consola:
  #
  #   openssl req -x509 -nodes -days 365 -newkey rsa:2048 -keyout tls.key -out tls.crt
  #
  # Luego, copiar el resultado de la ejecución del siguiente comando de consola, y pegarlo
  # eliminando los caracteres de nueva línea:
  #
  #   cat tls.crt | base64
  #
  # Idem con archivo tls.key.
  
  tls.crt: # Contenido de tls.crt codificado en base64.
  tls.key: # Contenido de tls.key codificado en base64.