table thead th {
  cursor: pointer;
  text-align: center;
}

tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

td.left {
  text-align: left;
}

td.right {
  text-align: right;
}

td.center {
  text-align: center;
}

td.justify {
  text-align: justify;
}

td input {
  border-color: gray;
  border-style: solid;
  border-width: 1px;
  border-collapse: collapse;
}

td input:hover {
  background-color: #f0f8ff;
}

.actions {
  text-align: center;
}

.actions button {
  display: inline-block;
  margin: 0 0.5rem;
  width: 7em;
}

.actions .save,.cancel {
  background-color: #635dff;
  color: white;
}

.actions .save:hover,.cancel:hover {
  background-color: #4e4bff;
}

.export-button {
  margin-top: 1rem;
}

.filters-row {
    display: flex;
    gap: 10px;
}

.filters-row input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.filters-row input:hover {
    border-color: #aaa;
    background-color: #f0f0f0;
}

.filter-container {
    position: relative;
    flex: 1;
}

.filter-container input {
    width: 100%;
    padding: 8px;
    padding-right: 25px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.clear-filter {
    position: absolute;
    right: 0px;
    top: 40%;
    transform: translateY(-50%);
    background: none;
    /* background-color:#4caf50; */
    border: none;
    cursor: pointer;
    color: #919191;
    /* color: white; */
    padding: 1rem;
}

.clear-filter:hover {
    color: #000;
    /* background-color: rgb(238, 238, 238); */
    background: none;
}