.attendance-table {
    width: 20rem;
    margin: 3rem auto 3rem auto;
}

.attendance-table td {
    text-align: center;
    font-size: 16px;
}

form button {
    display: inline;
}

.register-attendance-button {
    margin-top: 2rem;
}

input[type="date"] {
    display: block;
}