.student-table {
    width: 20rem;
    margin: 3rem auto 3rem auto;
}

.student-table td {
    font-size: 16px;
    text-wrap: nowrap;
}

.student-table tbody td {
    text-align: left;
}

.student-table thead td {
    text-align: center;
}

form button {
    display: inline;
}

.register-events-button {
    margin-top: 2rem;
}

input[type="date"] {
    display: block;
}

div.label_button {
    display: inline-block;
}

img.help_icon {
    display: inline-block;
    color: black;
    font-size: 2rem;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
}