apiVersion: v1
kind: Secret
metadata:
  name: cloudflare-api-token-secret
type: Opaque
stringData:

  # https://cert-manager.io/docs/configuration/acme/dns01/cloudflare/
  #
  # Token de API, en formato base64, con permisos para editar todas las zonas del DNS, y que incluya a todas las zonas.
  api-token: